body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

.hero{
padding:120px 20px;
}

h1{
font-size:60px;
margin:0;
}

.subtitle{
color:#94a3b8;
margin-top:10px;
}

.buttons{
margin-top:30px;
}

.btn{
background:#6366f1;
padding:12px 25px;
border-radius:8px;
color:white;
text-decoration:none;
margin:5px;
display:inline-block;
}

.btn.outline{
background:transparent;
border:1px solid #6366f1;
}

.about{
max-width:700px;
margin:auto;
padding:60px 20px;
}

.projects{
padding:60px 20px;
}

.project-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
width:250px;
border-radius:12px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}
